@import "../../../styles/variables";

.banner__container {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: 100% 100%;
  }

  .textContent__wrapper {
    font-family: $proxima;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);

    h2 {
      font-weight: 700;
      font-size: 26px;
      color: #fff;
      margin: 0;
      margin-bottom: 1.25rem;
      letter-spacing: 0.85px;
    }

    button {
      font-family: $proxima;
      font-weight: 600;
      background-color: transparent;
      font-size: 18px;
      border: 1px solid #fff;
      color: #fff;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0.65rem 2rem;
      transition: 0.35s ease-in-out;
      outline-color: #ff5722;

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #ff5722;
        transition: 0.35s ease-in-out;
        outline-color: #ff5722;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .banner__container {
    height: fit-content;

    img {
      width: 100%;
      height: auto;
      content: url("../../../images/image\ 33.png");
    }

    .textContent__wrapper {
      top: 30%;
      width: 100%;

      h2 {
        width: 100%;
        font-size: 1.5rem;
      }

      button {
        font-weight: 500;
        font-size: 1rem;
        padding: 0.45rem 1.5rem;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
