@import "../../../styles/variables";

.container {
  font-family: $proxima;
  width: 100%;
  margin-top: 5vh;

  .wrapper {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    .pages {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 2.5rem;
    }

    div svg {
      path {
        stroke: #212121;
        transition: 0.25s ease-in-out;
      }

      &:hover {
        cursor: pointer;
        path {
          stroke: #898989;
        }
      }
    }
  }
}

.pageIndex {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.55rem 1rem;

  &:hover {
    cursor: pointer;

    span {
      color: #898989;
    }
  }

  span {
    transition: 0.25s ease-in-out;
    color: #212121;
    font-weight: 500;
  }

  margin: 0 0.25rem;
}

.emptyPagination {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.55rem 1rem;

  span {
    transition: 0.25s ease-in-out;
    color: #212121;
    font-weight: 500;
  }

  margin: 0 0.25rem;
}

.currentPageIndex {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.55rem 1rem;
  border-radius: 6px;
  border: 1px solid #898989;

  span {
    color: #898989;
    font-weight: 500;
  }

  margin: 0 0.25rem;
}
