@import "../../../../styles/variables";

.product__wrapper {
  font-family: $proxima;
  overflow: hidden;
  background-color: #f9fafa;
  flex: 1;
  margin: 0.25rem;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37.5vh;

  .bestSeller__ribbon {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #14bcb5;
    width: fit-content;
    padding: 0.25rem 1.25rem;
    transform: skew(-25deg);
    margin-left: -7.5px;

    p {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      transform: skew(25deg);
      color: #fff;
    }
  }

  .content__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    .image__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 3;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .productInfo__wrapper {
      height: 100%;
      flex: 6;
      text-align: left;
      box-sizing: border-box;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      .footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
      }

      h2 {
        color: #212121;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
        margin-bottom: 0.5rem;
      }

      span {
        font-weight: 400;
        font-size: 14px;
      }

      .reviewStars {
        margin-left: 0.35rem;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
      }

      .price__wrapper {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;

        span {
          font-weight: 400;
          font-size: 18px;
        }

        span:last-of-type {
          margin-bottom: 0.75rem;
        }

        .oldPrice__wrapper {
          margin-bottom: 0.45rem;

          span {
            color: #b5b5b5;
          }

          div {
            margin-top: -10px;
            margin-left: -8px;
            width: 5.75rem;
            height: 1.1px;
            background-color: #b5b5b5;
            transform: rotatez(-10deg);
          }
        }
      }

      .purchase__wrapper {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        align-items: flex-end;
        align-items: center;

        svg {
          path {
            stroke: #898989;
            transition: 0.25s ease-in-out;
          }

          &:hover {
            cursor: pointer;
            path {
              stroke: #ff5722;
            }
          }
        }

        .wrapper {
          margin-top: -2px;

          svg {
            width: 0.75rem;
            height: 0.75rem;
            color: #898989;
            transform: translate(0);
            transition: 0.25s ease-in-out;
          }

          &:hover {
            cursor: pointer;

            svg {
              transform: translate(10px);
              color: #ff5722;
              transition: 0.25s ease-in-out;
            }
          }
        }

        span {
          margin: 0 0.5rem;
          font-size: 18px;
          color: #ff5722;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .product__wrapper {
    padding: 0;
    padding-top: 2rem;
    height: auto;
    margin: 0.5rem;
    margin-top: 0;

    .content__wrapper {
      flex-direction: column;

      .productInfo__wrapper {
        padding: 2rem;

        .header__wrapper {
          display: flex;
          flex-direction: column-reverse;
        }

        .footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 1.5rem;

          .price__wrapper {
            margin-top: 0;

            span {
              margin: 0;
            }
          }

          .purchase__wrapper {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) and (min-width: 768px) {
  .product__wrapper {
    height: 43vh;
    padding: 0.5rem;

    .content__wrapper {
      .image__wrapper {
        flex: 5;
      }

      .productInfo__wrapper {
        h2 {
          font-size: 1.25rem;
        }

        span {
          font-size: 1rem;
        }

        .reviewStars {
          svg {
            width: 0.9rem;
            height: 0.9rem;
            margin-bottom: -1px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
