@import "../../styles/variables";

.overshadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__container {
  font-family: $proxima;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 27.5vw;
  height: 45vh;
  border-radius: 4px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    border-bottom: 1px solid #e7eaed;

    h4 {
      font-weight: 700;
      font-size: 1.35rem;
      color: #212121;
      margin: 0;
    }

    svg {
      color: #212121;
      font-size: 1.25rem;
      transition: 0.25s ease-in-out;

      &:hover {
        cursor: pointer;
        color: #898989;
      }
    }
  }

  .modal__body {
    height: 100%;
    box-sizing: border-box;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;

    .request__sent {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      svg {
        width: 35%;
        height: auto;
      }
    }

    p {
      color: #212121;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      margin: 0;
      margin-bottom: 3.5rem;
    }

    .email__wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      height: 100%;

      label {
        text-align: left;
        font-weight: 600;
        color: #212121;
        font-size: 0.9rem;
        margin-bottom: 0.35rem;
      }

      input {
        box-sizing: border-box;
        padding: 0.75rem;
        border: 1px solid #d9dcdf;
        border-radius: 4px;
        margin-bottom: 0.95rem;
        outline-color: #212121;

        &::placeholder {
          color: #898989;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    button {
      margin-top: auto;
      justify-self: flex-end;
    }
  }
}
