.container {
  display: flex;
  flex-direction: row;
  width: 60%;
  max-height: 67.5vh;

  img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .carousel__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10%;
    height: 100%;
    justify-content: center;

    .carousel {
      width: 100%;
      max-height: 95%;
      display: flex;
      flex-direction: column;

      .image__wrapper {
        width: 100%;
        background-color: #f9fafa;
        box-sizing: border-box;
        padding: 0.25rem;
        height: calc(100% / 9);
        margin: 0.5rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid transparent;
        transition: 0.25s ease-in-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &:hover {
          cursor: pointer;
          background-color: #f0f0f0;
        }
      }
    }

    .top__arrow,
    .bottom__arrow {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);

      svg {
        width: 1.15rem;
        height: 1.15rem;

        path {
          stroke: #6b6b6b;
          transition: 0.25s ease-in-out;
        }
      }

      &:hover {
        cursor: pointer;

        svg path {
          stroke: #000;
        }
      }
    }

    .top__arrow {
      top: 1.5%;
    }

    .bottom__arrow {
      bottom: -2.75%;
    }
  }

  .thumbnail__wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    box-sizing: border-box;
    padding: 2.5rem;
    background-color: #f9fafa;
    margin-left: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// Macbook Pro (Retina)
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .container {
    max-height: 75vh;

    .carousel__container {
      .carousel {
        max-height: 85vh;

        .image__wrapper {
          height: calc(100% / 8);
        }
      }
    }
  }
}
