@import "../../../styles/variables";

.showcase__container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;

  .main__block {
    margin: 0.25rem;
    flex: 1;
  }

  .right__showcase {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
}

@media (max-width: 575.98px) {
  .showcase__container {
    flex-direction: column;

    .main__block {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    .mobileHeader {
      font-family: $proxima;
      width: calc(100% - 1rem);
      margin: 0 auto;
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .controller {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
          background-color: transparent;
          border-radius: 50%;
          border: none;
          box-sizing: border-box;
          padding: 0.75rem;
          width: 2.25rem;
          height: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.25s ease-in-out;
          outline: none;

          svg {
            font-size: 0.75rem;
            color: #000;
          }

          &:first-of-type {
            transform: rotate(45deg);

            &:hover {
              cursor: pointer;
              border-bottom-color: #212121;
              border-left-color: #212121;
              transition: 0.25s ease-in-out;

              svg {
                color: #ff5722;
                transition: 0.25s ease-in-out;
              }
            }

            svg {
              transition: 0.25s ease-in-out;
              transform: rotate(-45deg);
              margin-left: -2px;
            }
          }

          &:last-of-type {
            transform: rotate(-45deg);

            &:hover {
              cursor: pointer;
              border-bottom-color: #212121;
              border-right-color: #212121;
              transition: 0.25s ease-in-out;

              svg {
                color: #ff5722;
                transition: 0.25s ease-in-out;
              }
            }

            svg {
              transition: 0.25s ease-in-out;
              transform: rotate(45deg);
              margin-right: -2px;
            }
          }
        }
      }
    }

    .right__showcase {
      height: 100vh;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .showcase__container {
    flex-direction: column;

    .main__block {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    .mobileHeader {
      font-family: $proxima;
      width: calc(100% - 1rem);
      margin: 0 auto;
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .controller {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
          background-color: transparent;
          border-radius: 50%;
          border: none;
          box-sizing: border-box;
          padding: 0.75rem;
          width: 2.25rem;
          height: 2.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.25s ease-in-out;
          outline: none;

          svg {
            font-size: 0.75rem;
            color: #000;
          }

          &:first-of-type {
            transform: rotate(45deg);

            &:hover {
              cursor: pointer;
              border-bottom-color: #212121;
              border-left-color: #212121;
              transition: 0.25s ease-in-out;

              svg {
                color: #ff5722;
                transition: 0.25s ease-in-out;
              }
            }

            svg {
              transition: 0.25s ease-in-out;
              transform: rotate(-45deg);
              margin-left: -2px;
            }
          }

          &:last-of-type {
            transform: rotate(-45deg);

            &:hover {
              cursor: pointer;
              border-bottom-color: #212121;
              border-right-color: #212121;
              transition: 0.25s ease-in-out;

              svg {
                color: #ff5722;
                transition: 0.25s ease-in-out;
              }
            }

            svg {
              transition: 0.25s ease-in-out;
              transform: rotate(45deg);
              margin-right: -2px;
            }
          }
        }
      }
    }

    .right__showcase {
      height: 100vh;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) and (min-width: 768px) {
  .showcase__container {
    .right__showcase {
      height: auto;
    }
  }
}

// Macbook Pro (Retina)
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
