@import "../../../styles/variables";

.container {
  font-family: $proxima;
  border: 1px solid #e7eaed;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.25rem;
  border-radius: 6px;
  display: flex;
  flex-direction: row;

  .left__wrapper {
    margin-right: 1.5rem;

    svg {
      margin-bottom: 0.5rem;
    }

    .link__wrapper {
      * {
        display: inline;
      }

      svg {
        transform: translate(0);
        transition: 0.25s ease-in-out;
        margin-bottom: -1.75px;
      }

      &:hover {
        cursor: pointer;

        a {
          border-bottom-color: #ff5722;
        }

        svg {
          transform: translate(0.5rem);
        }
      }

      a {
        border-bottom: 1px solid transparent;
        margin-right: 0.25rem;
        color: #ff5722;
        text-decoration: none;
        transition: 0.25s ease-in-out;
      }
    }
  }

  .content__wrapper {
    h4 {
      margin-top: 0;
    }

    h6 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    ul {
      margin: 0;
      padding-left: 1.25rem;
    }
  }
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;

    .left__wrapper {
      margin-bottom: 3.5vh;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) and (min-width: 576px) {
  .container {
    flex-direction: column;

    .left__wrapper {
      margin-bottom: 3.5vh;

      .link__wrapper {
        a {
          font-size: 1.15rem;
        }
      }
    }

    .content__wrapper {
      h4 {
        font-size: 1.25rem;
      }

      h6 {
        font-size: 1.15rem;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) and (min-width: 768px) {
}

@media (max-width: 1024.98px) and (min-width: 992px) {
  .container {

    .left__wrapper {
      margin-bottom: 3.5vh;

      .link__wrapper {
        a {
          font-size: 1.15rem;
        }
      }
    }

    .content__wrapper {
      h4 {
        font-size: 1.65rem;
      }

      h6 {
        font-size: 1.45rem;
      }
    
      p {
        font-size: 1.35rem;
      }

      ul {
        li {
          font-size: 1.35rem;
        }
      }
    }
  }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
