@import "../../../styles/variables";

.parameters__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .parameter__wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: #f9fafa;

    .name,
    .description {
      text-align: left;
      flex: 1;
      box-sizing: border-box;
      padding: 0.55rem 0.75rem;
      font-weight: 400;
      font-size: 1rem;
    }

    .name {
      color: #898989;
    }

    .description {
      color: #212121;
    }

    &:nth-of-type(2n) {
      background-color: #fff;
    }
  }
}
