.switch__wrapper {
  width: 2.25rem;
  height: 1.1rem;
  border-radius: 18px;
  border: 1px solid #212121;
  transition: 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  .toggler {
    width: 1rem;
    height: 1rem;
    margin-top: 0.05rem;
    margin-left: 0.05rem;
    border-radius: 50%;
    background-color: #212121;
    transition: 0.25s ease-in-out;
  }
}
