@import "../../../../styles/variables";

.container {
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
  background-color: #fff;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.25rem;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.15);
  border-radius: 100px;

  button {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    padding: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-in-out;
    outline: none;

    svg {
      font-size: 0.65rem;
      color: #000;
    }

    &:first-of-type {
      transform: rotate(135deg);

      &:hover {
        cursor: pointer;
        border-color: #212121;
        transition: 0.25s ease-in-out;

        svg {
          color: #ff5722;
          transition: 0.25s ease-in-out;
        }
      }

      svg {
        transition: 0.25s ease-in-out;
        transform: rotate(-45deg);
      }
    }

    &:last-of-type {
      transform: rotate(45deg);

      &:hover {
        cursor: pointer;
        border-color: #212121;
        transition: 0.25s ease-in-out;

        svg {
          color: #ff5722;
          transition: 0.25s ease-in-out;
        }
      }

      svg {
        transition: 0.25s ease-in-out;
        transform: rotate(45deg);
      }
    }
  }
}
