@import "../../../styles/variables";

.deliveryInfo__container {
  width: 100%;
  background-color: #333;
  font-family: $proxima;
  height: fit-content;

  .mobile__wrapper {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem 0;
    justify-content: space-between;
    position: relative;

    &::before {
      width: 4%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      content: " ";
      background: linear-gradient(180deg, #333333 0, rgba(51, 51, 51, 0) 100%);
      transform: rotate(-90deg);
    }

    &::after {
      width: 4%;
      height: 100%;
      top: 0;
      right: 0.75vw;
      position: absolute;
      content: " ";
      background: linear-gradient(180deg, #333333 0%, rgba(51, 51, 51, 0) 100%);
      transform: rotate(90deg);
    }

    div {
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    p {
      margin: 0 auto;
      font-weight: 600;
      font-size: 1.15rem;
    }

    p,
    svg {
      margin: 0 auto;
      color: #fff;
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}

@media (max-width: 575.98px) {
  .deliveryInfo__container {
    margin-bottom: 0.5rem;

    .wrapper {
      display: none;
    }

    .mobile__wrapper {
      display: flex;
      flex-direction: column;

      .truck__wrapper,
      .dutyFree__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        box-sizing: border-box;
        padding: 0.75rem;

        p {
          color: #fff;
          margin: 0;
        }

        svg {
          margin-right: 0.75rem;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
