@import "../../../styles/variables";

.navigation__wrapper {
  font-family: $proxima;
  width: 40%;

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    li {
      border-bottom: 1px solid transparent;
      transition: 0.25s ease-in-out;

      &:hover {
        color: #ff5722;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .navigation__wrapper {
    width: 50%;
  }
}
